<div class="container">
  <div class="row">
    <ul>
      <li>エントリーステータス未実装</li>
      <li>開催日時カラム未実装</li>
    </ul>
  </div>
  <div class="row table-responsive" style="width: 100%;">
  	<table class="table">
  		<thead>
  			<tr>
  				<th class="col-lg-3 text-center">項目</th>
  				<th class="col-lg-9">内容</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
  				<th class="col-lg-3 text-center">イベント名</th>
  				<td class="col-lg-9"><%= @event.title %></td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">上限人数</th>
  				<td class="col-lg-9"><%= @event.capacity %>名</td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">種目</th>
  				<td class="col-lg-9">
  				  <ul>
    				  <li><%= @event.event1 %></li>
      				  <% if @event.event2.present? %>
      				    <li><%= @event.event2 %></li>
      				  <% end %>
      				  <% if @event.event3.present? %>
      				    <li><%= @event.event3 %></li>
      				  <% end %>
      				  <% if @event.event4.present? %>
      				    <li><%= @event.event4 %></li>
      				  <% end %>
      				  <% if @event.event5.present? %>
      				    <li><%= @event.event5 %></li>
      				  <% end %>
  				  </ul>
  				</td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">上限人数</th>
  				<td class="col-lg-9"><%= @event.capacity %>名</td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">開催日時</th>
  				<td class="col-lg-9">カラム未実装</td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">エントリー可能期間</th>
  				<td class="col-lg-9"><%= @event.start %>~<%= @event.finish %></td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">参加費用</th>
  				<td class="col-lg-9">カラム未実装</td>
  			</tr>
  			<tr>
  				<th class="col-lg-3 text-center">詳細</th>
  				<td class="col-lg-9 c-text-field"><%= @event.introduction %></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>